.map-btn {
    background: #222222 !important;
    border-radius: 25px;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    position:fixed;
    bottom: 80px;
    left: 45%;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.map-btn > span {
    font-size: 12px;
    font-weight: 600;
    color: whitesmoke;
    background: #222222;
    font-family: sans-serif;
}

.map-btn > svg {
    background: #222222;
    color: whitesmoke;
}

.map-btn:hover {
    transform: scale(1.05);
}